Package: opentelemetry-shell
Version: __VERSION__
Architecture: all
Depends: ash | dash | bash | busybox, coreutils, util-linux, findutils, grep, sed, awk, dpkg | apt, python3, python3-pip, python3-venv, jq, xxd
Enhances: ash, dash, bash, busybox
Priority: extra
Maintainer: Philipp Lengauer <p.lengauer@gmail.com>
Homepage: https://github.com/plengauer/opentelemetry-bash
Description: Generate open telemetry traces, metrics, and logs from shell scripts fully automatically
