Package: opentelemetry-shell
Version: 3.4.5
Architecture: all
Depends: awk, apt, procps, python3, python3-pip, python3-venv
Priority: extra
Maintainer: Philipp Lengauer <p.lengauer@gmail.com>
Homepage: https://github.com/plengauer/opentelemetry-bash
Description: Generating open-telemetry traces from shell scripts
