Package: opentelemetry-shell
Version: 3.16.0
Architecture: all
Depends: ash | dash | bash, coreutils, util-linux, grep, sed, awk, dpkg | apt, procps, python3, python3-pip, python3-venv
Enhances: ash, dash, bash
Priority: extra
Maintainer: Philipp Lengauer <p.lengauer@gmail.com>
Homepage: https://github.com/plengauer/opentelemetry-bash
Description: Generate open telemetry traces, metrics, and logs from shell scripts fully automatically
