name: Autorerun

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * *'

jobs:
  rerun:
    runs-on: ubuntu-latest
    steps:
      - uses: plengauer/autorerun@v0.3.0
        with:
          github_token: ${{ secrets.ACTIONS_GITHUB_TOKEN }}
