name: Autorerun

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * *' # TODO when to run

jobs:
  bump:
    runs-on: ubuntu-latest
    steps:
      - uses: plengauer/autorerun@0.0.0
        with:
          github_token: ${{ secrets.ACTIONS_GITHUB_TOKEN }} # token for GITHUB to retrigger, needs permissions to run GitHub Actions
