name: Test

on:
  workflow_call:

jobs:
  _build:
    uses: ./.github/workflows/build.yaml

  package:
    needs: _build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v4
        with:
          name: package.deb
      - run: sudo apt-get -y install ./package.deb
      - run: sudo apt-get -y remove opentelemetry-shell

  smoke:
    needs: _build
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v4
      - uses: actions/download-artifact@v4
        with:
          name: package.deb
      - run: sudo apt-get -y install ./package.deb
      - run: bash -c "cd tests && sudo bash run_tests.sh bash"

  os-shell:
    needs: smoke
    runs-on: ubuntu-latest
    strategy:
      matrix:
#        os: ['debian:oldstable', 'debian:stable', 'debian:testing', 'debian:unstable', 'ubuntu:focal', 'ubuntu:latest', 'ubuntu:rolling', 'ubuntu:devel']
#        shell: [sh, ash, dash, bash]
        os: ['debian:oldstable']
        shell: [sh]
    steps:
      - uses: actions/checkout@v4
      - uses: actions/download-artifact@v4
        with:
          name: package.deb
      - run: mv ./package.deb tests
      - run: sudo apt-get update
      - run: sudo apt-get remove -y containerd.io
      - run: sudo apt-get install -y docker.io runc
      - run: bash -c "cd tests && bash run_tests_containerized.sh $OS $SHELL"
        env:
          OS: ${{ matrix.os }}
          SHELL: ${{ matrix.shell }}

  action:
    needs: _build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./actions/instrument/job
        env:
          OTEL_METRICS_EXPORTER: console
          OTEL_LOGS_EXPORTER: console
          OTEL_TRACES_EXPORTER: console
      - run: echo hello world
      - run: |
          echo hello world again
      - run: alias
      - run: |
          alias
      - run: |
          . otel.sh
          echo echo world manually injected

  all:
    needs: [package, os-shell, action]
    runs-on: ubuntu-latest
    steps:
      - run: exit 0
